bbox:
  xmin: 6.42025
  xmax: 7.07839
  ymin: 46.82852
  ymax: 47.19230 

providers_info_url: "https://sharedmobility.ch/providers.json"
station_info_url: "https://sharedmobility.ch/station_information.json"
station_status_url: "https://sharedmobility.ch/station_status.json"
electric_station_url: "https://data.geo.admin.ch/ch.bfe.ladestellen-elektromobilitaet/data/ch.bfe.ladestellen-elektromobilitaet_fr.json"

connection_params:
  host: localhost
  db: your_db
  user: the_user
  password: the_user_password

tablename: mobilite.mob021_shared_mobility
electric_station_tablename: mobilite.mob022_electric_stations
