bbox:
  xmin: 6.42025
  xmax: 7.07839
  ymin: 46.82852
  ymax: 47.19230 

base_station_url: "https://gbfs.prod.sharedmobility.ch/v2/gbfs"
station_info_url: "station_information"
station_status_url: "station_status"
system_information_url: "system_information"
authorization_email: "example@example.com"

electric_station_url: "https://data.geo.admin.ch/ch.bfe.ladestellen-elektromobilitaet/data/ch.bfe.ladestellen-elektromobilitaet_fr.json"

connection_params:
  host: localhost
  db: your_db
  user: the_user
  password: the_user_password
servers:
  - host: host1
    db: your_db1
    user: the_user
    password: the_user_password
  - host: host2
    db: your_db2
    user: the_user
    password: the_user_password

shared_station_tablename: mobilite.mob021_shared_mobility
electric_station_tablename: mobilite.mob022_electric_stations

# number of hours before we suppose something is going wrong
update_timeout: 24
